@import url('https://fonts.google.com/specimen/Raleway');
@import url('https://fonts.google.com/specimen/Open+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    width: 99%;
    background-color: hsl(219, 30%, 18%);
}

/* Header */
header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

/* Logo */
.logoContainer{
    width: 10%;
    height: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.logo{
    width: 80%;
    height: auto;
}

/* Menu */
.menuContainer{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.menu-item{
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    color: lightgray;
    font-size: 15px;
    text-decoration: none;
}

.item:hover{
    color: white;
    text-decoration: underline;
}

/* Hero section */
.hero_section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100% 250px;
    background-position: bottom;
}

.hero_image{
    width: 450px;
    height: auto;
    margin-bottom: 2rem;
}

.hero_title{
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    width: 50%;
}

.hero_subtitle{
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 40%;
    line-height: 25px;
    margin-bottom: 2rem;
}

.hero_button{
    width: 15%;
    height: 40px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to top, hsl(198, 60%, 50%), hsl(176, 68%, 64%));
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.hero_button:hover{
    opacity: 0.8;
}

/* Services section */
.services_section{
    width: 100%;
    height: 100vh;
    background-color: hsl(218, 28%, 13%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service{
    width: 35%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service_image{
    width: 16%;
    height: auto;
    margin-bottom: 1rem;
}

.service_title{
    color: white;
    font-size: 18px;
    text-align:center;
    width: 70%;
    font-weight: bold;
    margin-bottom: 1rem;
}

.service_subtitle{
    color: white;
    font-size: 14px;
    text-align: center;
    width: 70%;
    line-height: 20px;
}

/* Detail section */
.detail_section{
    height: 85vh;
    width: 100%;
    background-color: hsl(218, 28%, 13%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 5rem;
}

.detail_image_container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail_image{
    width: 100%;
    height: auto;
}

.detail_text_container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.detail_title{
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 2rem;
    width: 100%;
}

.detail_text{
    color: white;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
}

.detail_link{
    align-self: flex-start;
    color: hsl(198, 60%, 50%);
    font-size: 16px;  
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 5px;
}

.detail_link:hover{
    text-decoration: underline;
    color: white;
}

/* Comment Section */
.comment_section{
    width: 100%;
    height: 70vh;
    background-color: hsl(218, 28%, 13%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 130px 110px;
}

.comment_container{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comment{
    width: 31.5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5rem;
    background-color: hsl(219, 30%, 18%);
    box-shadow: 0 0 5px hsl(219, 30%, 18%);
    border-radius: 5px;
}

.comment_text{
    width: 100%;
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
    line-height: 20px;
}

.comment_profile{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment_image{
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.comment_name{
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-left: 1rem;
}

.comment_name span{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 10px;
}

/* Subscription Section */
.sub_section{
    width: 100%;
    height: 40vh;
    background-color: hsl(218, 28%, 13%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_section_container{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 5px 5px 10px 2px hsl(216, 53%, 9%);
    margin-bottom: 5rem;
}

.sub_title{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.sub_text{
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 20px;
    width: 65%;
}

.sub_container{
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
}

.sub_input{
    width: 70%;
    height: 100%;
    border: none;
    padding: 10px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    border-radius: 25px;
}

.sub_btn{
    width: 25%;
    height: 100%;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to top, hsl(198, 60%, 50%), hsl(176, 68%, 64%));
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 10px;
}

.sub_btn:hover{
    opacity: 0.8;
}

/* Footer */
footer{
    width: 100%;
    height: 60vh;
    background-color: hsl(216, 53%, 9%);
    display: flex;
    padding: 20px 60px;
    gap: 30px;
}

.logo_location{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.footer_logo{
    width: 40%;
    height: auto;
    margin-bottom: 1rem;
}

.footer_loc{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.footer_location{
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.call_email{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.footer_call, .footer_email{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 1rem;
}

.call_icon, .email_icon{
    width: 5%;
    height: auto;
}

.footer_call_text, .footer_email_text{
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.footer_menu{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}

.footer_menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 40%;
    flex-wrap: wrap;
    width: 75%;
}

.footer_menu_item{
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_menu_link{
    color: lightgray;
    font-size: 14px;
    text-decoration: none;
}

.footer_menu_link:hover{
    color: white;
}

.social_medias{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 60px;
}
    
.social_icon{
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_icon:hover{
    color:hsl(176, 68%, 64%);
    border-color:hsl(176, 68%, 64%);
}

/* Responsive Design */
@media (max-width: 450px){
    /* Header Section */
    header{
        height: 10vh;
        padding: 0 1rem;
    }

    .logoContainer{
        width: 20%;
    }

    .logo{
        width: 60%;
    }

    .menuContainer{
        width: 70%;
    }

    .item{
        font-size: 12px;
    }

    /* Hero Section */
    .hero_section{
        height: 80vh;
        background-size: 100% 120px;
    }

    .hero_image{
        width: 70%;
        margin-bottom: 1rem;
    }

    .hero_title{
        font-size: 18px;
        width: 300px;
        margin-bottom: 1rem;
    }

    .hero_subtitle{
        font-size: 12px;
        width: 300px;
        margin-bottom: 1rem;
    }

    .hero_button{
        width: 150px;
        height: 30px;
        font-size: 10px;
        margin-bottom: 2rem;
    }

    /* Services Section */
    .services_section{
        height: auto;
        padding: 2rem 0;
        flex-direction: column;
    }

    .service{
        width: 80%;
        height: auto;
        margin-bottom: 4rem;
    }

    .service_image{
        width: 25%;
    }

    .service_title{
        font-size: 16px;
    }

    .service_subtitle{
        font-size: 12px;
        width: 300px;
    }

    /* Detail Section */
    .detail_section{
        flex-direction: column;
        padding: 0 1rem;
        height: 85vh;
        gap: 2rem;
    }

    .detail_image_container, .detail_text_container{
        width: 90%;
    }

    .detail_image{
        width: 90%;
    }

    .detail_text_container{
        padding: 0;
        align-items: flex-start;
    }

    .detail_title{
        font-size: 20px;
        text-align: left;
        margin-bottom: 1rem;
    }

    .detail_text{
        font-size: 16px;
        width: 100%;
        margin-bottom: 1rem;
    }

    .detail_link{
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 3rem;
    }

    /* Comment Section */
    .comment_section{
        width: 100%;
        height: auto;
        background-image: none;
    }

    .comment_container{
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    .comment{
        width: 80%;
    }

    .comment_profile{
        width: 80%;
    }

    /* Subscription Section */
    .sub_section{
        height: 95vh;
    }

    .sub_section_container{
        width: 300px;
        height: 60%;
        padding: 1rem;
    }

    .sub_title{
        font-size: 20px;
    }

    .sub_text{
        width: 80%;
        font-size: 16px;
        color: lightgray;
        margin-bottom: 2rem;
    }

    .sub_container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: auto;
    }

    .sub_input, .sub_btn{
        width: 100%;
        height: 45px;
    }

    /* Footer */
    footer{
        flex-direction: column;
        height: auto;
        padding: 20px 2rem;
    }

    .logo_location, .call_email, .footer_menu{
        width: 100%;
    }

    .logo_location{
        height: 20vh;
        gap: 2rem;
    }

    .footer_logo{
        width: 30%;
    }

    .call_email{
        margin-top: 0;
    }

    .footer_call, .footer_email{
        justify-content: flex-start;
    }

    .footer_menu ul{
        width: 100%;
        height: 100%;
        gap: 20px;
    }

    .footer_menu_item{
        width: 50%;
        justify-content: flex-start;
    }

    .footer_menu_link{
        font-size: 14px;
    }

    .social_medias{
        width: 100%;
    }
}


@media (min-width: 450px) and (max-width: 900px){
    /* Header Section */
    header{
        height: 15vh;
        padding: 0 1rem 0 1rem;
    }

    .logoContainer{
        width: 20%;
    }

    .logo{
        width: 50%;
    }

    .menuContainer{
        width: 50%;
        padding: 0;
    }

    .item{
        font-size: 14px;
    }

    /* Hero Section */
    .hero_section{
        height: 110vh;
        background-size: 100% 150px;
    }

    .hero_image{
        width: 60%;
        margin-bottom: 1rem;
    }

    .hero_title{
        font-size: 22px;
        width: 450px;
        margin-bottom: 1rem;
    }

    .hero_subtitle{
        font-size: 14px;
        width: 450px;
        margin-bottom: 1rem;
    }

    .hero_button{
        width: 200px;
        height: 35px;
        font-size: 12px;
        margin-bottom: 3rem;
    }

    /* Services Section */
    .services_section{
        height: auto;
        padding: 2rem 0;
        flex-direction: column;
    }

    .service{
        width: 80%;
        height: auto;
        margin-bottom: 4rem;
    }

    .service:last-child{
        margin-bottom: 6rem;
    }

    .service_image{
        width: 15%;
    }

    .service_title{
        font-size: 16px;
    }

    .service_subtitle{
        font-size: 12px;
        width: 400px;
    }

    /* Detail Section */
    .detail_section{
        flex-direction: column;
        padding: 0 2rem;
        height: 90vh;
        gap: 2rem;
    }

    .detail_image_container, .detail_text_container{
        width: 450px;
    }

    .detail_image{
        width: 400px;
    }

    .detail_text_container{
        padding: 0;
        align-items: flex-start;
    }

    .detail_title{
        font-size: 20px;
        text-align: left;
        margin-bottom: 1rem;
    }

    .detail_text{
        font-size: 12px;
        width: 100%;
        margin-bottom: 1rem;
    }

    .detail_link{
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 10rem;
    }

    /* Comment Section */
    .comment_section{
        width: 100%;
        height: auto;
        background-image: none;
    }

    .comment_container{
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    .comment{
        width: 450px;
    }

    .comment_profile{
        width: 80%;
    }

    /* Subscription Section */
    .sub_section{
        height: 90vh;
    }

    .sub_section_container{
        width: 420px;
        height: 60%;
        margin-bottom: 0;
    }

    .sub_title{
        font-size: 20px;
    }

    .sub_text{
        width: 80%;
        font-size: 16px;
        color: lightgray;
        margin-bottom: 2rem;
    }

    .sub_container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: auto;
    }

    .sub_input, .sub_btn{
        width: 100%;
        height: 45px;
    }

    /* Footer */
    footer{
        flex-direction: column;
        height: auto;
        padding: 20px 2rem 0 4rem;
    }

    .logo_location, .call_email, .footer_menu{
        width: 450px;
    }

    .logo_location{
        height: 20vh;
        gap: 2rem;
    }

    .footer_logo{
        width: 30%;
    }

    .call_email{
        margin-top: 0;
    }

    .footer_call, .footer_email{
        justify-content: flex-start;
    }

    .footer_menu ul{
        width: 100%;
        height: 100%;
        gap: 20px;
    }

    .footer_menu_item{
        width: 50%;
        justify-content: flex-start;
    }

    .footer_menu_link{
        font-size: 14px;
    }

    .social_medias{
        width: 100%;
    }

    .social_icon{
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
}